.singleMessageContainer {
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.empty {
  flex-grow: 1;
}

.singleMessage {
  max-width: 400px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}

.in {
  background-color: #ebebeb;
}

.out {
  color: white;
  background-color: #fbbd08;
}

.outDelivered {
  color: white;
  background-color: #b5cc18;
}

.outRead {
  color: white;
  background-color: #00b5ad;
}
