.scrollableFriendMessageContainerWrapper {
  flex: 1;
  position: relative;
}

.scrollableFriendMessageContent {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0px;
}

.friendMessageContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.searchContainer {
  height: 50px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInputContainer {
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
}

.searchInput {
  flex: 1;
  border: none;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
}

.searchInput:focus {
  outline: none;
  display: flex;
  justify-content: left;
}

.searchInput::placeholder {
  color: #bebebe !important;
}

.searchInput::-webkit-input-placeholder {
  color: #bebebe !important;
}

.searchIcon {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #bebebe;
  display: flex;
  display: -webkit-box;
  align-items: center;
  line-height: 1em !important;
}

.iconBack {
  cursor: pointer;
  color: #008080;
  display: flex;
  display: -webkit-box;
  align-items: center;
  line-height: 1.2em !important;
}

.messageContainer {
 display: flex;
 flex-direction: column;
}

