body {
  min-width: 1000px;
  overflow-x: visible;
  overflow-y: hidden;
  height: 100%;
}

.page {
  width: 100%;
}

.pageMid {
  width: 1000px;
  margin: auto;
}

.chat {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.chatLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  border-right: 1px #dedede solid;
  border-left: 1px #dedede solid;
  margin: 0px;
}

.chatRight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  position: relative;
  border-right: 1px #dedede solid;
}

.chatRightEmpty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  border-right: 1px #dedede solid;
}

.search {
  height: 50px;
  padding: 5px;
  border-bottom: 1px #dedede solid;
}

.menu {
  display: flex;
  height: 70px;
  padding: 10px;
  padding-right: 2px;
  border-bottom: 1px #dedede solid;
  align-items: center;
  flex-direction: row;
}

.menuLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 100%;
}

.menuRight {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.chatList {
  flex-grow: 1;
}

.chatHeader {
  height: 70px;
  border-bottom: 1px #dedede solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.chatHeaderUsername {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.chatHeaderAction {
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.message {
  flex: 1;
  position: relative;
}

.messageScroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0px;
  flex-grow: 1;
}

.messageDiv {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.messageNotification {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: #767676;
  opacity: 0.5;
  color: white;
  font-weight: bold;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageNotification:hover {
  opacity: 1;
}

.messageNotiHidden {
  display: none;
}

.messageInput {
  height: 50px;
  width: 100%;
  border-top: 1px #dedede solid;
  padding: 5px;
}


