.message {
  cursor: pointer;
  width: 100%;
  height: 65px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  border-bottom: 1px #dedede solid;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
}

.messageHeader {
  height: 65px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-top: 5px #dedede solid;*/
  border-bottom: 1px #dedede solid;
}

.messageSelected {
  cursor: pointer;
  width: 100%;
  height: 65px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  border-bottom: 1px #dedede solid;
  background-color: #dedede;
  align-items: center;
}

.message:hover {
  background-color: #ebebeb;
}

.avatar {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: white;
}

.content {
  padding-left: 10px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.friend {
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.unreadCountContainer {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unreadCount {
 /* width: 24px;
  height: 24px;*/
  min-width: 24px;
  border-radius: 12px;
  background-color: #cecece;
  font: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.lastMessage {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


